<div class="container">
  <div class="row">
    <div class="col-xs-12">
       <section class="about-this">
        <h2>What's this site about?</h2>
        <div itemscope itemtype="http://data-vocabulary.org/Person">
            <p>Glad you asked. My name is <span itemprop="name">Seve Savoie Teruel</span>, I’m a <span itemprop="title">Full Stack Web developer</span> at <a href="http://www.RCDesign.com" targget="_blank" rel="nofollow">RC Design</a> in <span itemprop="locality">Newmarket, Ontario</span> I've spent the last year working for a publishing company that mainly deals with selling financial and health publications through email campaigns. I've started this site as a way to show case my progress as both a web developer as well as a human being.</p>

            <p>I’ve been listening to lots of different web development podcasts as of late, so that I can know what I don’t know, and learn it. Stuff like CSS preprocessors, NODE.js, Responsive images. e.t.c. I’ve been dying to try out these new tech trends on projects at work, however, there usually isn't enough time to implement them. So instead I decided to build this website as a sandbox to try out ideas as well as a showcase of the skills I do have.</p>
        </div>
    </section>
    </div>
  </div>
</div>